<app-navigation></app-navigation>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 cl-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-2">
                <h1 class="text-center">Add Students</h1>
                <div class="col col-12 col-sm-6 col-md-6 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Name</label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Admission No</label>
                    <input name="admno" [(ngModel)]="admno" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Roll No</label>
                    <input name="rollno" [(ngModel)]="rollno" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">College</label>
                    <input name="college" [(ngModel)]="college" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValue()" class="btn btn-outline-success">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
